* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --gray-700: #282c34;
  --white: #fff;
}

body {
  background-color: var(--gray-700);
  color: var(--white);
  font: 400 1rem Inter, sans-serif;
}

button {
  cursor: pointer;
}
